<section>
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row d-flex justify-content-around ipad">
                <div class="col-md-8">
                    <h1 class="lg-text">Kush jemi ne?</h1>
                    <p class="image-aboutus-para">Ne jemi cfare ju kerkoni...</p>
                </div>
                <div class="col-md-2">
                    <img class="scancode" src="../../assets/images/qrcode_www.malogroupal.com.png" alt="">
                    <img class="scancode" src="../../assets/images/malo-group.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bread-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a href="" style="color:  #1f1f89; text-decoration: none;">Kryefaqja</a></li>
                        <li class="active">Rreth nesh</li>
                    </ol>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-section paddingTB60">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="strong">Pastificio Antonio <br>Pallante</h1>
                    <p class="lead">Qe prej vitit 1949...</p>
                </div>
                <div class="col-md-6">
                    <p>Kompania Pastificio Antonio Pallante , nje nga dhjetë prodhuesit kryesorë italianë të makaronave
                        që prej katër brezash, makarona të prodhuara në një fabrikë ultramoderne në Caserta - rreth 300
                        ton në ditë - duke kombinuar traditën më të mirë të prodhimit të makaronave italiane me lëndët e
                        para më të mira dhe teknologjinë e lartë.</p>
                    <p>Nga pikëpamja tregtare, Pastificio Antonio Pallante Srl është transformuar nga një realitet që
                        plotëson nevojat e tregut vendas në një realitet që eksporton në shumë vende të tjera dhe- ka
                        zhvilluar marrëdhënie midis klientëve dhe zinxhirëve tregtarë në mbarë botën.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-7">
            <p class="btn p-btn">Fabrika aktuale e makaronave është rritur në mënyrë eksponenciale me kalimin e kohës me
                investime të rëndësishme që e bëjnë atë në krye si në prodhim ashtu edhe në kontrollin e cilësisë së
                produktit të përfunduar.</p>
            <p class="btn p-btn">Sipërfaqja e përgjithshme e uzinës është 25200 m2 ndërsa sipërfaqja e mbuluar është
                17743 m2. PAP ka 45 punonjës, ndërsa administrimi i magazinës dhe aktivitetet e tjera të kolateralit
                janë të jashtme.</p>
            <p class="btn p-btn">Fabrika e makaronave Antonio Pallante ka 5 linja prodhimi dhe 13 linja paketimi
                automatike, në pako 250, 500, 1000 dhe 5000 gram, duke përfshirë dy paketues kuti kartoni për ekspozim
                në korridorin e drejtpërdrejtë të supermarketeve dhe Zbritje.</p>
        </div>

        <div class="col-md-5 justify-content-start">
            <div>
                <iframe  src="https://www.youtube.com/embed/PkmtKU7oFV0" class="video"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen ></iframe>
            </div>
        </div>
    </div>



</section>





<div class="container-1 bootstrap snippets bootdeys">
    <div class="row row-1">

        <div class="col-lg-4 col-md-6 col-sm-12 content-card d-flex justify-content-center">
            <div class="card-big-shadow">
                <div class="card card-just-text">
                    <div class="content">
                        <h4 class="title title-card">Cilesia</h4>
                        <p class="description">Attilio Pallante, themeluesi i vërtetë i traditës së prodhimit të
                            makaronave, ka thënë me vendosmëri se nuk duhet "të sakrifikohet kurrë cilësia për vëllime".
                        </p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 content-card d-flex justify-content-center">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color">
                    <div class="content">
                        <h4 class="title title-card">Cmimet konkurruese</h4>
                        <p class="description">Teknologjia e lartë në prodhim dhe procesi i mekanizimit i mundëson
                            kompanisë të konkurrojë në çmim duke ruajtur një produkt me cilësi të lartë.</p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 content-card d-flex justify-content-center">
            <div class="card-big-shadow">
                <div class="card card-just-text">
                    <div class="content">
                        <h4 class="title title-card">Biznes nderkombetar</h4>
                        <p class="description">Pastificio Antonio Pallante është transformuar nga një realitet që
                            plotëson nevojat e tregut vendas në një realitet qe ka zhvilluar marrëdhënie me klientëve në
                            mbarë botën.</p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
    </div>
</div>

<div class="section-header text-center" style="padding-top: 90px;padding-bottom: 40px;">
    <h3 style="color: #1f1f89;font-family: 'Great Vibes', cursive; font-size: 30px;letter-spacing: 0.1em;">Klientet tane</h3>
    <p style="color: #1f1f89;font-family: 'Great Vibes', cursive;font-size: 30px;letter-spacing: 0.1em;">Njihuni me
        klientet tane te lumtur</p>
</div>
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="../../assets/pasta-images/clients/bigmarket.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/conadicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide text-center">
            <img src="../../assets/pasta-images/clients/valdrinicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/coopicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/jataicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/joenaicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide text-center">
            <img src="../../assets/pasta-images/clients/kmyicon1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/staricon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/feramarketicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/bigmarket.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/conadicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide text-center">
            <img src="../../assets/pasta-images/clients/valdrinicon.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../assets/pasta-images/clients/coopicon.png" height="100" width="250" alt="" />
        </div>
    </div>
</div>