
<div class="container-fluid">
     
  <div class="px-lg-5">
    <div class="row py-5 d-flex justify-content-end">
      <div class="col-md-3">
        <button class="nav-item dropdown btn btn-outline-primary btn-block">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'Zgjidh kategorine' | translate }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="getAllImages()">{{ 'Te gjitha' | translate }}</a></li>
            
            <li class="dropdown-submenu">
              <a class="dropdown-item" (click)="getImagesByCategoryLang('makarona','pasta')">{{ 'Makarona' | translate }}<span
                  class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item"  (click)="getImagesBySubcategoryLang('linja e shkurter','corta')">{{ 'Linja e shkurter' | translate }}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="getImagesBySubcategoryLang('linja e shkurter','corta')">{{ 'Te gjitha' | translate }}</a></li>
                    <li><a class="dropdown-item"  (click)="getImagesBySubcategory2Lang('linja e shkurter integrale','corta integrale')">Integrale</a></li>
                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesBySubcategoryLang('linja e gjate','lunga')">{{ 'Linja e gjate' | translate }}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="getImagesBySubcategoryLang('linja e gjate','lunga')">{{ 'Te gjitha' | translate }}</a></li>
                    <li><a class="dropdown-item" (click)="getImagesBySubcategory2Lang('linja e gjate integrale','lunga integrale')">Integrale</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesBySubcategoryLang('speciale','speciale')">{{'Speciale' | translate}}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>


              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" (click)="getImagesByCategoryLang('salce','salsa')"> {{'Salce' | translate}}<span
                  class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesBySubcategoryLang('linja e kuqe','rosso')">{{'Linja e kuqe' | translate}}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesBySubcategoryLang('sugo','succo')">{{'Linja e sugove te gatshme' | translate}}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>


              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" (click)="getImagesByCategoryLang('oriz','riso')"> {{'Oriz' | translate}}<span
                  class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesByCategoryLang('oriz','riso')">{{ 'Te gjitha' | translate }}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesBySubcategory2Lang('oriz integral','riso integrale')">Oriz Integral<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>


              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" (click)="getImagesByCategoryLang('miell','farina')">{{'Miell' | translate}}<span
                  class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesByCategoryLang('miell','farina')">{{ 'Te gjitha' | translate }}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>

                <li class="dropdown-submenu">
                  <a class="dropdown-item" (click)="getImagesBySubcategory2Lang('miell integral','farina integrale')">{{'Miell Integral' | translate}}<span
                      class="float-end custom-toggle-arrow"><i class="bi bi-arrow-right-short"></i></span></a>
                </li>
              </ul>
            </li>
          </ul>
        </button>

      </div>
      
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control mb-2" [attr.placeholder]="'Kerko produkt...' | translate" [(ngModel)]="query">
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary mb-2" (click)="searchImages()">{{'Kerko' | translate}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let image of filteredImages">
        <div class="product bg-white align-content-center">
          <img src="{{image.url}}" class="img-fluid card-img-top mx-auto d-block my-4" style="max-width: 250px;">
          
            <h5 class="text-center" style="color: #1f1f89;">{{image.title}}</h5>
            <p class="small text-muted mb-0 text-center">{{image.description}}</p>
       
        </div>
      </div>
    </div>
    
  </div>
</div>




